---
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import Layout from "../../layouts/Layout.astro";

const zines = [
  {
    title: "Lore - Fortify the Hunger",
    url: "https://heyzine.com/flip-book/d5fe9d6973.html",
  },
  {
    title: "Contagion",
    url: "https://heyzine.com/flip-book/333daca662.html",
  },
  {title: "MEAT",
   url: "https://heyzine.com/flip-book/db979d882a.html",
  },
];
---
<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <h1 class="mb-6 text-2xl">Zines</h1>
    <div class="flex flex-col gap-10">
      {zines.map((zine) => (
        <div>
          <h2 class="mb-2 text-lg font-medium">{zine.title}</h2>
          <iframe
            src={zine.url}
            width="100%"
            height="500"
            seamless="seamless"
            scrolling="no"
            frameborder="0"
            allowtransparency="true"
            allowfullscreen="true"
          ></iframe>
        </div>
      ))}
    </div>
  </main>
</Layout>