---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>
      I'm Sadhana Thirumangai, I make zines and write poetry. Find me @vicriment on instagram. (I also like math)
    </p>
  </main>
</Layout>
